body {
	background: cornflowerblue;
	font-family: 'PT Sans', sans-serif;
	padding: 0;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.container {
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 2px;
	background-color: #FFFFFF;
}

.header {
	width: inherit;
}

.top-contect {
	height: 10px;
}

ul {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
	margin: 0;
}

ul.header-in {
	float: right;
	margin-top: 0.5em;
}

ul.header-in li {
	display: inline-block;
}

ul.header-in li a {
	text-decoration: none;
	color: brown;
	font-size: 1em;
	margin: 0em 1em;
}

ul.header-in li a:hover {
	background-color: blanchedalmond;
}

ul.horizon-ul {
	float: right;
	margin-top: 1px;
}

ul.horizon-ul li {
	display: inline;
}

.top-header {
	border-bottom-style: double;
	border-bottom-color: #987cb9;
}

.logo {
	width: 20%;
	position: relative;
	left: 0;
	top: 20px;
	bottom: 0;
	font-size: larger;
}

.top-menu {
	position: relative;
	width: 80%;
	float: right;
}

.clearfix {
	clear: both;
}

.main {
	border-bottom-style: double;
	border-bottom-color: #987cb9;
}

.top-banner {
	height: 400px;
}

.products{
	position: relative;
	height: 350px;
	top: 30px;
	bottom: 10px;
	left: 0px;
	right: 0px;
}
.product-list {
	width: 100%;
}

ul.pd-grid {
	list-style: none;
	padding: 5px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

ul.pd-grid li {
	display: inline-block;
	margin: 5px 0;
	vertical-align:middle;
	
	height: 50px;
	width: 20%;
	padding: 0px 5px;
}
.pd-rect{
	width: 100%;
	text-align: center;
	line-height: 50px;
	background-color: cornflowerblue;
	color: #FFFFFF;
	font-size:large;
	font-weight: bold;
}
.footer {
	width: 100%;
	background-color: gainsboro;
	height: 100px;
}

input{
	margin: 10px;
}
